#!/bin/bash

mkdir /home/{{ ansible_env.LOGNAME }}/.ssh

chown {{ ansible_env.LOGNAME }} /home/{{ ansible_env.LOGNAME }}/.ssh

cat <<EOF > /home/{{ ansible_env.LOGNAME }}/.ssh/authorized_keys

{{ pubkey }}

EOF

chown {{ ansible_env.LOGNAME }} /home/{{ ansible_env.LOGNAME }}/.ssh/authorized_keys
